<% if (viewEngine === 'jade') { %>doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.min.css')
  body
    .container
      block content
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/js/main.js')<% } else { %><!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html><% } %>
