<% if (viewEngine === 'jade') { %>doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/app.styles.min.css')
  body
    .container
      block content
    if settings.env == 'development'
      script(src='http://localhost:3006/livereload.js')
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/js/app.min.js')<% } else if (viewEngine === 'hbs') { %><!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/app.styles.min.css"/>
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
  {{#ifvalue settings.env value="development"}}
    <script src="http://localhost:3006/livereload.js"></script>
  {{/ifvalue}}
  <script src="/js/app.min.js"></script>
</body>
</html><% } else { %><!DOCTYPE html>
<html lang="en">
<head>
  <title><%%= title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/app.styles.min.css"/>
</head>
<body>
  <div class="container">
    <%%- body %>
  </div>
  <%% if (settings.env === "development") { %>
    <script src="http://localhost:3006/livereload.js"></script>
  <%% } %>
  <script src="/js/app.min.js"></script>
</body>
</html><% } %>
