!!! 5
%html{lang: 'en'}
  %head
    %title= title
    %meta{charset: 'utf-8'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{rel: 'stylesheet', href: '/css/style.min.css'}
  %body
    #main Content goes here
    %script{src: '/js/jquery.min.js'}
    %script{src: 'http://localhost:3355/livereload.js'}
