doctype 5
html
  head
    title= title
    link(rel="shotcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    block css
  body
    block content
    script(src="http://localhost:3355/livereload.js")
    block script
