$defaultFont: Arial, Helvetica, sans-serif;
$fontWeight: normal;
$fontSize: small;
$black: rgb(0, 0, 0);
body {
  font-family: $defaultFont;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $black;
}
