<% if (htmlEngine === 'jade') { %>doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
  body
    h1 Sorry, not found :( <% } else if (htmlEngine === 'haml') { %>
!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title= title
  %body
    %h1 Sorry, not found :( <% } else if (htmlEngine === 'underscore') { %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%%= title %></title>
</head>
<body>
  <h1>Sorry, not found :(</h1>
</body>
</html><% } %>
