<% if (htmlEngine === 'jade') { %>doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title<% if (includeBootstrap) { %>
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")<% } %>
    link(rel="stylesheet", href="/css/style.min.css")
  body
    #page<% if (includeBootstrap) { %>
      header.row
        h1= title
      .row
        p Express App<% } else { %>
      header
        h1= title
      div
        p Express App<% } %>
    script(src="http://localhost:3355/livereload.js")
    script(src="/bower_components/jquery/jquery.js")
<% } else if (htmlEngine === 'haml') { %>
!!! 5
  %html{lang: 'en'}
    %meta{charset: 'utf-8'}<% if (includeBootstrap) { %>
    %link{rel: 'stylesheet', href: '/bower_components/bootstrap/dist/css/bootstrap.min.css'}<% } %>
    %link{rel: 'stylesheet', href: '/css/style.min.css'}
    %title= title
  %body
    %div{id: 'page'}<% if (includeBootstrap) { %>
      %header{class: 'row'}
        h1= title
      %div{class: 'row'}
        %p Express App<% } else { %>
      %header
        %h1= title
      %div
        %p
          Express App<% } %>
    %script{src: 'http://localhost:3355/livereload.js'}
    %script{src: '/bower_components/jquery/jquery.js'}
<% } else if (htmlEngine === 'underscore') { %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%%= title %></title><% if (includeBootstrap) { %>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"><% } %>
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>
<body>
  <div id="page"><% if (includeBootstrap) { %>
    <header class="row">
      <h1><%%= title %></h1>
    </header>
    <div class="row">
      <p>Express App</p>
    </div><% } else { %>
    <header>
      <h1><%%= title %></h1>
    </header>
    <div>
      <p>Express App</p>
    </div><% } %>
  </div>
  <script src="http://localhost:3355/livereload.js"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
</body>
</html>
<% } %>
